h1{
    color: #333;
    font-size: 2em;
    margin: 0;
    padding: 0;
}

h3 {
    color: #333;
    font-size: 1.5em;
    margin: 0;
    padding: 0;
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1em;
    padding: 1em;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f4;
}

form {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1em;
}


#playerform{
    width:30%;
    height: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: column;
    gap: .5em;
    padding: .5em;
    margin: 0;
}

.position{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    width: 90%;
    gap: .5em;
}

label {
    display: flex;
    flex-direction: row;
    align-items: left;
    justify-content: left;
    width: 100%;
    height: 100%;
}

#name{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    width: 90%;
    gap: .5em;
}

#name input {
    width: 98%;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: .5em;
    height:100%;
    width:100%;
}

input[type="text"] {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: left;
    align-items: left;
    flex-direction: column;
    gap: 1em;
}

.player-stats{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    width: 90%;
    gap: .5em;
}

.player-stats input {
    width: 95%;
}

.player-data{
    display: flex;
    flex-direction: row;
    gap: .5em;
}


button{
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: column;
    margin-top: 1em;
}

#editSection{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

/* CSS for table output */
.player-table h2{
    color: #333;
    font-size: 1.5em;
    margin: 0;
    padding: 0;
    text-align: center;
}

.player-table {
    width: 80%;
    margin: auto;
    display: table;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.2em;
}

.edit-button,
.garbage-button{
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    vertical-align: bottom;

    gap: 1em;
    border: none;
    cursor: pointer;
}

td {
    padding: 0 20px 0 20px;
    vertical-align: bottom;

}

th {
    padding: 0 20px 0 20px;
}